{% extends 'base.html' %}

{% block content %}
<div class="subheader">
    <a href="{{ url_for('index') }}" class="cus-button">&#9664; Back</a>
    <h2 class="subheader-title">{{ 'Password Manager' }}</h2>
    <div>
        <a href="{{ url_for('export_csv_password') }}" class="cus-button">Export CSV</a>
        <a href="{{ url_for('add_password') }}" class="cus-button">Add Password</a>
    </div>
</div>
<!-- <div class="subheader">
    <a href="{{ url_for('password_manager', id=0) }}">Show All Passwords</a>
</div> -->
<table>
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Username</th>
            <th>Passwords</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for password in passwords %}
        <tr>
            <td>{{ password.service_name }}</td>
            <td>{{ password.username }}</td>
            <td>
                {% if password.id == 0 %}
                <p>{{ decrypted_password }}</p>
                {% else %}
                {% if password.id == password_id %}
                <p>{{ decrypted_password }}</p>
                {% endif %}
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('password_manager', id=password.id) }}">View Password</a>
                <a href="{{ url_for('edit_password', id=password.id) }}">Edit</a> |
                <form action="{{ url_for('delete_password', id=password.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Stored Passwords</h2>
<ul>
    {% for password in passwords %}
    <li>
        {{ password.service_name }} - {{ password.username }}

    </li>
    {% endfor %}
</ul>

{% endblock %}